
.land-grid{
background-image: url(../src/images/jordan-whitfield-sm3Ub_IJKQg-unsplash.jpg);
background-size: cover;
position: fixed;
height: 100%;
top: 0;
width: 100%;
right: 0;
left: 0;
text-align: center;


}

.sterling-pic{
    height: 250px; 
    padding-top: 5em;
    left: 45px;
    
}

.pic-text{
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 12px;
}

.pic-text h1 {
    font-size: 65px;
    font-weight: bold;
    color: white;
}

.pic-text hr {
    border-top: 4px dotted white;
    width: 50%;
    margin: auto;
}

.pic-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
}
.social-media{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    font-size: 5em;
}

.project-div{
    display: flex;
}
.contact-body{
    margin: auto;
    background: grey;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em;

} 

.contact-div{
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 580px;
    background: white;
    color: black;
    border: 2px solid solid red;
    margin-bottom: 20px;

}
.contact-div h2 {
    font-family: Arial, Helvetica, sans-serif;

}
.contact-div p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.contact-div hr {
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
}